html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

#container {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

#header {
    margin: 10px;
}

#content {
    margin: 10px;
}

button {
    width: 50px;
    height: 50px;
    margin: 10px;
    box-sizing: border-box;
}

input[type="textview"] {
    width: 93%;
    height: 50px;
}

.function {
    background: aquamarine;
}

.special {
    background-color: darksalmon;
}

.disabled {
    background-color: darkgray;
}
